<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- link the classes and other style codes to style.css -->
    <link rel="stylesheet" href="Front/style.css" />
</head>
<script src="Front/dash.all.min.js"></script>
<script>
    function playVid(id){
        switch(id) {
            case "1":
                console.log("111111111");
                var url = "/dash/1/The_Shawshank_Redemption_dash.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer_1"), url, true);
                break;
            case "2":
                console.log("222222222");
                var url = "/dash/2/The_Godfather_dash.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer_2"), url, true);
                break;
            case "3":
            // code block
                break;
            case "4":
            // code block
                break;
            case "5":
            // code block
                break; 
            case "6":
            // code block
                break;                                                            
        }
    };
    </script>
<body>

    <div>
    {% for post in posts %}
        <div class="row">
            <div class="column">
                <b>{{ post['name'] }}</b></br>
                <img id="{{ post['id'] }}" src="{{ post['image_path'] }}" alt="poster" style="width:350px">
                <video id="videoPlayer_{{ post['id'] }}" controls></video>
                <p>{{ post['description'] }}</p>
                <p>score: <strong>{{ post['score'] }}</strong>/10</p>
                <p>Director: <b style="color:blue">{{ post['director_name'] }}</b></p>
                <script>playVid("{{ post['id'] }}");</script>
            </div>
    {% endfor %}
        </div>
        
        <!-- <script src="Front/myscripts.js"></script> -->

</body>

</html>