<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- link the classes and other style codes to style.css -->
    <link rel="stylesheet" href="Front/style.css" />
</head>

<body>

    <div>
    {% for post in posts %}

        <div class="row">
            <div class="column">
                <b>{{ post['name'] }}</b></br>
                <img id="{{ post['id'] }}" src="{{ post['image_path'] }}" alt="poster" style="width:350px">
<!-- trailer ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
                <p>{{ post['description'] }}</p>
                <p>score: <strong>{{ post['score'] }}</strong>/10</p>
                <p>Director: <b style="color:blue">{{ post['director_name'] }}</b></p>
            </div>
        </div>
    {% endfor %}

        <script src="Front/myscripts.js"></script>
</body>

</html>