<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- link the classes and other style codes to style.css -->
    <link rel="stylesheet" href="Front/style.css" />
</head>
<script src="Front/dash.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
<script>
    function playVid(id){
        switch(id) {
            case "1":
                var url = "/dash/1/The_Shawshank_Redemption_dash.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer_1"), url, true);
                break;
            case "2":
                var url = "/dash/2/The_Godfather_dash.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer_2"), url, true);
                break;
            case "3":
                var url = "https://mmproject.arvanvod.com/Y6zM6ZM8qN/2RNGRPwMay/h_,144_200,240_400,360_800,480_1469,k.mp4.list/manifest.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer_3"), url, true);                
                break;
            case "4":
                var url = "https://mmproject.arvanvod.com/Y6zM6ZM8qN/jzgNW0a9BV/h_,144_200,240_400,360_800,480_1500,k.mp4.list/manifest.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer_4"), url, true);                 
                break;
            case "5":
                
                // HLS: https://mmproject.arvanvod.com/Y6zM6ZM8qN/xj4poEKqm5/h_,144_200,240_400,360_800,480_1500,k.mp4.list/master.m3u8
                var video = document.querySelector('#videoPlayer_5');
                var videoSrc = 'https://mmproject.arvanvod.com/Y6zM6ZM8qN/xj4poEKqm5/h_,144_200,240_400,360_800,480_1500,k.mp4.list/master.m3u8';
                if (Hls.isSupported()) {
                    var hls = new Hls();
                    hls.loadSource(videoSrc);
                    hls.attachMedia(video);
                }
                break; 
            case "6":
                // HLS: https://mmproject.arvanvod.com/Y6zM6ZM8qN/3qybkYoBkl/h_,144_200,240_400,360_800,480_1458,k.mp4.list/master.m3u8
                var video = document.querySelector('#videoPlayer_6');
                var videoSrc = 'https://mmproject.arvanvod.com/Y6zM6ZM8qN/3qybkYoBkl/h_,144_200,240_400,360_800,480_1458,k.mp4.list/master.m3u8';
                if (Hls.isSupported()) {
                    var hls = new Hls();
                    hls.loadSource(videoSrc);
                    hls.attachMedia(video);
                }
                break;                                                            
        }
    };
    </script>
<body>

    <div>
    {% for post in posts %}
        <div class="row">
            <div class="column">
                <b>{{ post['name'] }}</b></br>
                <img id="{{ post['id'] }}" src="{{ post['image_path'] }}" alt="poster" style="width:350px">
                <video id="videoPlayer_{{ post['id'] }}" controls></video>
                <p>{{ post['description'] }}</p>
                <p>score: <strong>{{ post['score'] }}</strong>/10</p>
                <p>Director: <b style="color:blue">{{ post['director_name'] }}</b></p>
                <script>playVid("{{ post['id'] }}");</script>
            </div>
    {% endfor %}
        </div>
</body>

</html>